{{> header}}

<div class="text-center pad-20">
  <h4>This is your home page.<h4>
</div>

<div class="text-center">
	<p><a href="/about">About Page</a></p>
	<p><a href="/helpers">Express-Handlebars Helpers Reference Page</a></p>
	<p><a href="/bla">404 Page</a></p>
</div>

{{> footer}}